<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">WATCH ANYWHERE.</h1>
    <p class="lead">Watch TV shows and movies anytime, anywhere — personalized for you.</p>
    <p><a class="btn btn-primary btn-lg" href="/videos" role="button">Browse Videos &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Use any computer.</h3>
      <p>Watch on any device with an internet browser. It is 2019 so that should be almost any device!</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h3>Mobile soon.</h3>
      <p>Native mobile app for iOS and Android coming soon. Once the lazy UTRGV students get their act together.</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h3>Secure</h3>
      <p>Kind of. Your credit card is secure but your password is not. Don't use your real password.</p>
      <p><a class="btn btn-secondary" href="/sign_up" role="button">Sign up &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->